@media screen and (max-width: 1200px) {
  :root {
    font-size: 13px;
  }
  .game-menu {
    width: 390px;
  }
  .game-board {
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    width: 500px;
    height: 500px;
  }
}