body{
  display: flex;
  align-items: center;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @media  screen and (max-width: 768px) {
    background-size: 150% 100%;
    background-position: 50% 0%;
  }
}
.bg {
  position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
margin: 0;
background: url(../../images/background.jpg) center center no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.disabled {
  display: none !important;
}