
.game-board {
  display: grid;
  grid-template-columns: repeat(10, 64px);
  grid-template-rows: repeat(10, 64px);
  border-bottom: 4px solid $color-black;
  border-right: 4px solid $color-black;
  width: 640px;
  height: 640px;
  margin: 0 auto;
  overflow: hidden;

  & > div {
    background-color: rgba(255,255,255,0.6);
    border-top: 4px solid $color-black;
    border-left: 4px solid $color-black;
    z-index: -3;
  }
}
.game__container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto;
  @media screen and (max-height: 656px) {
    padding: 20px 0;
    align-items: flex-start;
  }
}
.hero, .thief {
  background-position: center;
  background-size: contain;
}

.hero {
  background-color: rgba(255,255,255,0.8);
  background-image: url(../../images/superhero.png);
}

.thief {
  background-color: rgba(255,255,255,0.8);
  background-image: url(../../images/thief.png);
}

.gameOver {
  border: none;
  animation: gameover 0.5s forwards;
}

@keyframes gameover {
  100% {
    background: $color-red;
  }
}

